.text{
    width: 100%;
    height: 50vh;
    background-color: aqua;
    position: relative;
    display: flex;
}

.left{
    width: 50%;
    height: 100%;
    background-color: antiquewhite;
}

.right{
    width: 50%;
    height: 100%;
    background-color: rgb(132, 143, 143);
}